# Global aliases
alias -g ...='../..'
alias -g ....='../../..'
alias -g .....='../../../..'

# Aliases
alias grep="grep --color=auto"
alias dbox="dropbox.py"
alias emcs="emacsclient -c &"
alias lstree="ls -R | grep ":$" | sed -e 's/:$//' -e 's/[^-][^\/]*\//--/g' -e 's/^/   /' -e 's/-/|/'"
alias tmuxpaste='tmux save-buffer - | wgetpaste'
alias sprunge='curl -F "sprunge=<-" http://sprunge.us'
alias dascrot='scrot -q 100 "$HOME/scrots/%Y-%m-%d_\$wx\$h.png"'
alias esshfs='sshfs -o idmap=user -o uid=$(id -u) -o gid=$(id -g) -C'

# testing what ls command to use
if ls --version > /dev/null 2>&1 ; then
    alias ls="ls --color=auto"
else
    alias ls="ls -GF"
fi

# vim: set ft=zsh:
